DB_PATH=postgres://postgres:change_password_here@db:5432/subscriptions?sslmode=disable
SERVER_PORT=8080
POSTGRES_PASSWORD=change_password_here
POSTGRES_DB=subscriptions
LOG_LEVEL=info
LOG_PATH=/var/log/app/app.log
POSTGRES_USER=postgres