DB_PATH=postgres://postgres:1771@db:5432/subscriptions?sslmode=disable
SERVER_PORT=8087
POSTGRES_PORT=5432
POSTGRES_PASSWORD=1771
POSTGRES_DB=subscriptions
LOG_LEVEL=debug
LOG_PATH=./logs/app.log
POSTGRES_USER=postgres
JWT_SECRET=112233
REDIS_PORT=6379
REDIS_ADDR=
LOGGER=debug
PPROF_ENABLED=false
GRPC_PORT=50051
BACKUP_KEEP=7
