# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin
/dist

# Go workspace
*.test

/vendor

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment files
.env
.env.local
.env.*.local
.env.test
.env.test.local
# Logs
*.log
logs/

# Docker
docker-compose.override.yml

# OS
Thumbs.dbdatabase/
/database/
# Load test artifacts
load-tests/
target/
load-test.sh
*.bin
# Копии файлов
*.copy
*копия*
*копия.go
# Профилирование
*.prof

# Нагрузочные тесты
*.bin
loadtest.sh
load_result.txt
insert_data.sql
login.json
1.goo
gen_hash.go
subscription_app
coverage.out
coverage_full.out